@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}


.register_container {
	background: linear-gradient(90deg, #C7C5F4, rgb(57, 70, 86));		
	padding: 5% 0;
	display: flex;
	justify-content: center;
	min-height: 150vh;
}

.screen {		
	background: linear-gradient(90deg, rgb(35, 41, 49), rgb(57, 70, 86));		
	position: relative;	
	height: auto;
	width: 360px;	
	box-shadow: 0px 0px 24px rgb(35, 41, 49);
}

.screen__content {
	z-index: 9999;
	position: relative;	
	height: 100%;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: rgb(61, 71, 85);
    /* rgb(35, 41, 49)	 */
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, rgb(35, 41, 49), rgb(49, 62, 78));
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: rgb(57, 70, 86);	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.register {
	width: 320px;
	padding: 30px;
	padding-top: 156px;
}

.register__field {
	padding: 20px 0px;	
	position: relative;	
}

.register__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.register__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.register__input:active,
.register__input:focus,
.register__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.register__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: rgb(35, 41, 49);
	box-shadow: 0px 2px 2px rgb(35, 41, 49);
	cursor: pointer;
	transition: .2s;
}

.register__submit:active,
.register__submit:focus,
.register__submit:hover {
	border-color: rgb(35, 41, 49);
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}
